* {
  box-sizing: border-box;
  font-family: "DM Sans", monospace;
}

html,
body {
  margin: 0px;
}

.palette-colours {
  /* Not a real class, just a palette for speeding up workflow */
  background: #01161e;
  background: #124559;
  background: #598392;
  background: #aec3b0;
  background: #eff6e0;
}

.wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.navbar {
  background-color: #01161e;
}

.navbar-brand {
  color: #598392 !important;
}

.btn-primary {
  background-color: #124559 !important;
  border-color: #aec !important;
}

.panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

.inline-padding {
  padding-inline: 250px;
}

.one {
  background-color: #01161e;
}

.panel-one-content {
  display: flex;
  height: 100%;
  align-items: center;
}

.hero-content {
  width: 55%;
}

.hero-headline {
  font-size: 52px;
  color: #598392;
  font-family: "DM Serif Display", monospace;
}

.hero-subtext {
  font-size: 16px;
  color: #aec3b0;
}

.hero-image {
  margin-left: auto;
  width: 40%;
}

.hero-button {
  background-color: #60c19e !important;
  color: #01161e !important;
  font-size: 56px;
  margin-top: 1rem;
}

.socials {
  margin-top: 1.5rem;
}

.social-link {
  color: #598392;
  padding-right: 0.3rem;
}

.two {
  background-color: blue;
}

/* Smaller Desktop Size */
@media screen and (max-width: 1400px) {
  .inline-padding {
    padding-inline: 50px;
  }
  .hero-content {
    width: 50%;
  }
}

/* Mobile Size */
@media screen and (max-width: 700px) {
  .hero-content {
    width: 100%;
  }

  .panel-one-content {
    flex-direction: column-reverse;
    margin-block: auto;
    justify-content: center;
  }

  .hero-image {
    width: 60%;
    margin: 0 0 3rem 0;
  }
}
