* {
	box-sizing: border-box;
	font-family: "DM Sans", monospace;
}

html,
body {
	margin: 0px;
}

/* Text highlight override */
::selection {
	background: #aec3b0;
}

.palette-colours {
	/* Not a real class, just a palette for speeding up workflow */
	background: #01161e;
	background: #124559;
	background: #598392;
	background: #aec3b0;
	background: #eff6e0;
}

.inline-padding {
	padding-inline: 250px;
}

body {
	background-color: #01161e;
}

.wrapper {
	height: 90vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-box {
	background-color: #124559;
	border-radius: 20px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.title {
	color: white;
	font-weight: bold;
}

.form-item {
	padding: 0.2rem;
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.form-button {
	background-color: #598392;
	color: white;
	border-radius: 10px;
	height: 3rem;
	font-size: 20px;
	border: 2px solid #aec3b0;
}

.header {
	padding: 1rem;
}

.back-button {
	font-size: 1.5rem;
	border-radius: 10px;
	border: none;
	background-color: #124559;
	color: white;
	border: 2px solid #598392;
}

/* Mobile */
@media screen and (max-width: 750px) {
	.form-item {
		width: 80vw;
	}
	.inline-padding {
		padding-inline: 0px;
	}
}
