* {
	box-sizing: border-box;
	font-family: "DM Sans", monospace;
}

html,
body {
	margin: 0px;
}

/* Text highlight override */
::selection {
	background: #aec3b0;
}

.palette-colours {
	/* Not a real class, just a palette for speeding up workflow */
	background: #01161e;
	background: #124559;
	background: #598392;
	background: #aec3b0;
	background: #eff6e0;
}

.title-text {
	font-family: "DM Serif Display", monospace;
	font-size: 42px;
	color: #598392;
}

p3 {
	font-size: 26px;
	color: #598392;
}

.wrapper {
	height: 100vh;
	margin-top: auto;
	overflow-y: hidden;
	background-color: #01161e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
